#!/bin/bash

SQL=`sudo -u postgres psql -x -c "SELECT pg_is_in_recovery();" | awk 'FNR == 2 {print $3}'`

if [[ $SQL == *"t"* ]]; then
  STATE="slave"
elif [[ $SQL == *"f"* ]]; then
  STATE="master"
else
  exit 0
fi

cat <<EOF
{
    "$STATE" : true
}
EOF
