standby_mode = 'on'
primary_conninfo = 'host={{ groups['postgresql-master'][0] }} port=5432 user={{ postgresql_replication_user.name }} password={{ postgresql_replication_user.pass }}'
trigger_file = '{{ postgresql_data_dir }}/failover'
